* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Progress bar conatiner  */
.progress-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background: transparent;
  z-index: 9999;
}
.progress-bar {
  width: 0%;
  height: 100%;
  background: linear-gradient(to right, #4caf50, #8bc34a);
  transition: width 0.1s linear;
}

.container {
  height: 300vh;
  padding: 1rem;
}
