* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 2000px;
  background: linear-gradient(45deg, #f06, transparent);
}
.icon svg {
  background-color: #fff;
  border-radius: 100rem;
  position: fixed;
  bottom: 30px;
  left: 30px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: all 0.3s ease;
  z-index: 1000px;
}
.icon svg.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
/* Hover effect */
.scroll-top-btn:hover {
  background: #333;
  transform: scale(1.1);
}
